

<div id="h-menu" class="menu-text">
<h2 class="newsh2 ">Menu</h2>
<ul class="ul-nav">
{% comment %} zrobiona {% endcomment %}
<li class="li-nav"><a class="a-nav" href="/"><p class="p-nav">Strona Glówna</p></a></li>
<li id="nav-add1"  class="li-nav-main"><a class="a-nav-main"><p class="p-nav">O nas</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first1" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/news"><p class="p-nav">Nowości</p></a></li>
{% comment %} zrobiona / mozna dodac formularz kontaktowy {% endcomment %}
<li id="nav-first2" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/kontakt"><p class="p-nav">Kontakt</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first3" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/misja"><p class="p-nav">Misja Szkół</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first4" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/historia"><p class="p-nav">Troche Historii</p></a></li>

<li id="nav-first5" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/galeria"><p class="p-nav">Galeria</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first6" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/bip"><p class="p-nav">BIP</p></a></li>

<li id="nav-first7" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/filmy"><p class="p-nav">Filmy</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-add2" class="li-nav-main"><a class="a-nav-main"><p class="p-nav">Liceum</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first21" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="https://plan.lider24.eu/"><p class="p-nav">Plan Lekcji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first22" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/zajecia_liceum"><p class="p-nav">Zajęcia Dodatkowe</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-add3" class="li-nav-main"><a class="a-nav-main"><p class="p-nav">Technikum</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first31" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="https://plan.lider24.eu/"><p class="p-nav">Plan Lekcji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first32" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/informacje_5letnie_technikum"><p class="p-nav">Technikum Pięcioletnie</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first33" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/informacje_4letnie_technikum"><p class="p-nav">Technikum Czteroletnie</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first34" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/zajecia_technikum"><p class="p-nav">Zajęcia Dodatkowe</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first35" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/egzamin_technikum"><p class="p-nav">Egzamin Technikum</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-add4" class="li-nav-main"><a class="a-nav-main"><p class="p-nav">Medyczna Szk. Polic.</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first41" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/plan_szkoly_medycznej"><p class="p-nav">Plan Lekcji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first42" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/kierunki_szkoly_medycznej"><p class="p-nav">Kierunki</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first43" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/terminarz_szkoly_medycznej"><p class="p-nav">Terminarz</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first44" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/egzaminy_szkoly_medycznej"><p class="p-nav">Egzamin z Kwalifikacji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first45" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/rekrutacja_szkoly_medycznej"><p class="p-nav">Rekrutacja</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-add5" class="li-nav-main"><a class="a-nav-main"><p class="p-nav">Szkoła Policealna</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first51" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/plan_szkoly_policealnej"><p class="p-nav">Plan Lekcji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first52" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/kierunki_szkoly_policealnej"><p class="p-nav">Kierunki</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first53" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/terminarz_szkoly_policealnej"><p class="p-nav">Terminarz</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first54" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/egzaminy_szkoly_policealnej"><p class="p-nav">Egzamin z Kwalifikacji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first55" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/rekrutacja_szkoly_policealnej"><p class="p-nav">Rekrutacja</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-add6" class="li-nav-main"><a class="a-nav-main"><p class="p-nav">LO dla dorosłych</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first61" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/plan_liceum_dla_doroslych"><p class="p-nav">Plan Lekcji</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first62" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/egzamin_maturalny"><p class="p-nav">Egzamin Maturalny</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first63" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/terminarz_liceum_dla_doroslych"><p class="p-nav">Terminarz</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first64" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/rekrutacja_liceum_dla_doroslych"><p class="p-nav">Rekrutacja</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-add7" class="li-nav-main li-last"><a class="a-nav-main"><p class="p-nav">Informacje</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first71" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/dla_uczniow"><p class="p-nav">Dla Uczniów</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first72" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/dla_nauczycieli"><p class="p-nav">Dla Nauczycieli</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first73" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/dla_rodzicow"><p class="p-nav">Dla Rodziców</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first74" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/biblioteka_i_lekarz"><p class="p-nav">Biblioteka i gabinet lekarski</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first75" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/wolontariat"><p class="p-nav">Wolontariat</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first76" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/psycholog_i_pedagog"><p class="p-nav">Pomoc psychologiczno pedagogiczna</p></a></li>
{% comment %} zrobiona {% endcomment %}
<li id="nav-first77" class="li-nav nav-first li-nav-hidden"><a class="a-nav" href="/archiwum_planu_technikum"><p class="p-nav">Plan technikum archiwum</p></a></li>

</ul>
</div>
</nav>
