{% extends 'data.html' %}
{% block content %}







<br />
<h3 class="newsh3">
BIBLIOTEKA SZKOLNA<br />

 Czynna:<br />

Poniedziałek 13:00-14:10, 15:50 - 16:40<br />
Wtorek 10:25 - 11:25,  12:10 - 13:20,  14:05 - 14:55 <br />
środa 8:45 - 10:35<br />
czwartek 8:45 - 11:45<br /><br />
 

 

GABINET PIELĘGNIARKI<br />

 Czynny:<br />

Poniedziałek      7:30  - 11:30<br />

Wtorek             12:00 - 15:05<br />

Środa              7:30 - 11:30<br />

 Czwartek         7:30- 15:05<br />

 Piątek               11:00 - 15:00<br />
</h3>

<br /><br />













{% endblock %}