{% extends 'data.html' %}
{% block content %}


<br />

<h3 class="newsh3">
Nazwa szkoły:<br />
Technikum „LIDER”<br /><br />

Dyrekcja:<br />
Dyrektor  mgr inż. Ewa Szady<br /><br />

Vicedyrektorzy:<br />

mgr Małgorzata Szady (d/s administracji)<br />

mgr Violetta Stachyra (d/s zawodowych)<br />

mgr Tomasz Dzieciątkowski (d/s wychowawczych)<br /><br />

Organy szkoły:<br />

1.  Dyrektor szkoły<br />

2.  Rada Pedagogiczna<br />

3.  Rada Rodziców<br />

4.  Samorząd Uczniowski<br /><br />



Inne Szkoły "LIDER" w Lublinie: <br />

1. Liceum Ogólnokształcące "LIDER" (dla młodzieży)<br />

2. Liceum Ogólnokształcące dla Dorosłych „LIDER” w  Lublinie<br />

3. Niepubliczna Szkoła Policealna  „LIDER” w Lublinie<br />

4. Niepubliczna Medyczna Szkoła Policealna "LIDER" w Lublinie<br /><br />

 

Sekretariat Szkół "LIDER" mieści się przy ul. Radziwiłłowskiej 5 na I piętrze<br /><br />

godziny otwarcia:<br />

Pn-Pt 8:00 - 17:00<br />

W soboty w które odbywają się zjazdy szkół dla dorosłych<br />

8:00-13:00<br />

</h3>

<br /><br />











{% endblock %}