{% extends 'data.html' %}
{% block content %}

<br />

<h3 class="newsh3">
W 1998 roku zostało utworzone Policealne Studium Zawodowe dla Dorosłych CUS „Lider”<br /><br />

w Lublinie, szkoła ta otrzymała uprawnienia szkoły publicznej nadane przez Kuratora Oświaty w Lublinie dnia 30 czerwca 1998 r. decyzją numer WKiDN-018-11-PF/98. Szkoły policealne umożliwiają osobom posiadającym wykształcenie średnie przygotowanie do egzaminu zawodowego i uzyskanie dyplomu potwierdzającego kwalifikacje zawodowe po zdaniu tego egzaminu. Szkoła przede wszystkim, realizując ustalone dla szkoły policealnej programy nauczania o strukturze przedmiotowej uwzględniające podstawy kształcenia w zawodzie, umożliwia zdobycie wiedzy i umiejętności niezbędnych do wykonywania wyuczonego zawodu Zdobycie atrakcyjnego zawodu jest powiązane z rosnącym zapotrzebowaniem na wykwalifikowaną kadrę dla potrzeb gospodarki.Wyniesione ze szkoły wykształcenie pozwala na pracę, także w zawodach pokrewnych.
<br /><br />
W ówczesnym okresie szkoła kształciła na kierunkach: technik Informatyk,  technik rachunkowości i finansów,  technik ekonomista,  technik usług kosmetycznych,  technik architektury wnętrz,  technik hotelarstwa,  technik obsługi turystycznej,  technik masażysta, technik usług fryzjerskich, technik rachunkowości.
Od chwili powstania, firma, stara się nieustannie rozwijać i wzbogacać ofertę szkoleniową

i edukacyjną, aktywnie realizuje założone cele. Skupia swoją uwagę na wysokiej jakości kształcenia swoich podopiecznych, ich komforcie i poczuciu bezpieczeństwa. Kadrę nauczycielską stanowi grono znakomitych dydaktyków i fachowców o praktycznym doświadczeniu w nauczanych zawodach i przedmiotach.
<br /><br />
Obecnie w Policealnym Studium Zawodowym dla Dorosłych „Lider” w Lublinie kształci się 208 słuchaczy przede wszystkim na kierunkach technik usług kosmetycznych, technik masażysta, technik turystyki wiejskiej, technik geodeta, technik bezpieczeństwa i higieny pracy, opiekun w DPS oraz technik administracji .
<br /><br />
W ramach działalności Centrum Usług Szkoleniowych „Lider” sp. z o. o. w roku szkolnym 2005/2006 utworzono szkołę dla młodzieży – Technikum „Lider” w Lublinie. Szkoła posiada uprawnienia szkoły publicznej nadane przez Prezydenta Miasta Lublin z dnia 22 czerwca 2005 r. decyzją numer OiW.I.4321-7/05.  Celem tego typu szkoły jest kształcenie na poziomie ogólnym i zawodowym, które umożliwia uzyskanie dyplomu potwierdzającego kwalifikacje zawodowe. Rozwija ponadto osobowość i odpowiedzialność oraz przygotowuje do wypełniania obowiązków w rodzinie i społeczeństwie. Nowo utworzona szkoła kształciła na kierunku technik usług fryzjerskich. W roku szkolnym 2006/2007 powstał również kierunek technik organizacji usług gastronomicznych.
<br /><br />
Obecnie w Technikum „Lider” w Lublinie uczy się 281 uczniów na kierunkach: technik usług fryzjerskich, technik żywienia i usług gastronomicznych, technik organizacji usług gastronomicznych, technik hotelarstwa
<br /><br />
W 2008 roku powstało Liceum Ogólnokształcące dla Dorosłych „Lider” w Lublinie decyzją numer OW.OP.IV.4321-1/08 Do szkoły tego typu uczęszczają wszyscy chętni legitymujący się świadectwem ukończenia szkoły gimnazjalnej lub ośmioletniej szkoły podstawowej. Cykl nauczania trwa 3 lata. Szkoła realizuje programy nauczania uwzględniające podstawy programowe kształcenia ogólnego oraz stosuje zasady klasyfikowania i promowania słuchaczy oraz przeprowadzania egzaminów. Uczniowie mają możliwość rozszerzenia swoich zainteresowań na zajęciach z kosmetyki lub grafiki komputerowej.
<br /><br />
W 2009r powstało Liceum Ogólnokształcące "Lider" w Lublinie decyzją Prezydenta Miasta Lublin z dn. 16 lipca 2009r nr OW.OP.IV.4321-4/09
nr 379/P/N w ewidencji szkół i placówek niepublicznych Miasta Lublin.
<br /><br />
W czasie działalności CUS „Lider” realizowane były projekty współfinansowane z Unii Europejskiej i Europejskiego Funduszu Społecznego. Pierwszy z Projektów "Zmiana kwalifikacji zawodowych szansą na lepszą pracę" jest już zakończony. „Celem Projektu było podniesienie kwalifikacji i umiejętności osób, w taki sposób, by wypełniały one zapotrzebowanie pracodawców chcących świadczyć usługi o najwyższej, jakości, dostosowane do wymogów regionalnego rynku pracy, w warunkach członkostwa w Unii Europejskiej, a także umożliwienie wsparcia osobom, które z własnej inicjatywy i w oparciu o indywidualne potrzeby pragną rozwijać się zawodowo w czasie wolnym od pracy oraz zajęć szkolnych. Drugi projekt "Lepsze warunki i możliwości nauki - lepsze wyniki na maturze - lepsza przyszłość" dotyczy „stworzenie warunków równych szans edukacyjnych uczniom techników, w szczególności spoza Lublina,

z możliwością przystępowania do egzaminu maturalnego, korzystania z nowoczesnych materiałów dydaktycznych i technik poprawiania efektywności procesu kształcenia.” W ramach projektu były przeprowadzane dodatkowe kursy przygotowujące młodzież do matury jak również otrzymywali oni bezpłatne podręczniki na czas trwania nauki. Ponadto pracownie: informatyczne, gastronomiczne

i fryzjerskie w Lublinie oraz hotelarska i fryzjerska w Zamościu zostały doposażone w niezbędny sprzęt i akcesoria. Drugi projekt równiesz został już zakończony.
<br /><br />
Centrum Usług Szkoleniowych „Lider” sp. z o. o. to:  doświadczona placówka edukacyjna, od prawie 20 lat na rynku oświatowym,  duża ilość zajęć praktycznych w nowocześnie wyposażonych pracowniach,  monitorowany i dobrze zlokalizowany budynek w centrum miasta, co umożliwia bardzo dogodny dojazd ze wszystkich dzielnic miasta jak i okolic, możliwość zdobycia doświadczenia zawodowego, dodatkowe kursy, biblioteka szkolna zaopatrzona w fachowe podręczniki. Uczniom i słuchaczom zapewnia:  przyjazną i sympatyczną atmosferę,  przychylną

i wykwalifikowaną kadrę oraz miłą obsługę,  wsparcie oraz indywidualne podejście do każdej osoby,  koła naukowe, komfort nauki w małych grupach, gdzie wszystkie zajęcia teoretyczne

i praktyczne odbywają się w siedzibie szkoły. Ideą Szkoły jest przygotowanie uczniów i słuchaczy do samodzielności oraz kształcenie wśród nich świadomości swych obowiązków, praw i możliwości.
<br /><br />
Od roku 2014 organem prowadzącym szkoły Lider jest Centrum Kształcenia "MENTOR"

sp. z o.o. w Lublinie.
<br /><br />
Od 2015r prowadzimy nabór do Medycznej Szkoły Policealnej dla Dorosłych "Lider" w Lublinie na kierunek technik masażysta. Decyzją OW-OP-IV.4430.8.2015 Prezydenta Miasta Lublin wpisanej do ewidencji szkół i placówek niepublicznych pod nr ewidencyjnym 503/P/N - nadane uprawnienia szkoły publicznej.
</h3>
<br /><br />














{% endblock %}