{% extends 'data.html' %}
{% block content %}



<br />

<h3 class="newsh3">
Dla absolwentów szkoły podstawowej proponujemy naukę w Technikum o pięcioletnim cyklu nauki
w zawodach:<br /><br />
technik żywienia i usług gastronomicznych<br /><br />
technik hotelarstwa<br /><br />
technik usług fryzjerskich<br /><br />
technik informatyk<br /><br />
technik geodeta<br /><br />
technik programista  <p class="text-red">NOWOŚĆ</p>
technik organizacji turystyki  <p class="text-red">NOWOŚĆ</p>
</h3>




<br /><br />







{% endblock %}