{% extends 'data.html' %}
{% block content %}




<br />
<h3 class="newsh3" >
„Uczymy się nie dla szkoły , ale dla życia”
<br /><br />
 
Koncepcja pracy Szkół „Lider" ma na celu rozwój młodych ludzi w duchu uniwersalnych<br />

wartości, otwartych na świat i potrzeby innych, przygotowanych do dalszej edukacji i sprawnego<br />

funkcjonowania na rynku pracy.
Chcemy edukować młodzież zgodnie z zapotrzebowaniem rynku pracy.
Zwracamy uwagę na zagadnienia: ekonomiczne, informatyczne, ekologiczne, kulturalne,
Pomagamy tym, którzy  zdecydowali się kontynuować naukę po wielu latach przerwy.
Stwarzamy dogodne warunki nauki dla osób pracujących.<br /><br />

SZKOŁY LIDER W LUBLINIE TO:<br />

<p class="text-red">
NIEPUBLICZNA SZKOŁA POLICEALNA ZAWODOWE DLA DOROSŁYCH<br />
TECHNIKUM<br />
LICEUM OGÓLNOKSZTAŁCĄCE DLA DOROSŁYCH<br />
LICEUM OGÓLNOKSZTAŁCĄCE<br />
NIEPUBLICZNA MEDYCZNA SZKOŁA POLICEALNA<br /><br />

</p>
    NASZE ATUTY:<br />
ponad 17-letnia tradycja
bezpłatne podręczniki dla wszystkich uczniów szkół młodzieżowych
sukcesy naszych uczniów na konkursach zawodowych
dobre wyniki zewnętrznych egzaminów zawodowych z kwalifikacji
dobra zdawalność matury
wykwalifikowana kadra pedagogiczna
nowoczesna, stale modernizowana baza dydaktyczna
bardzo dobry dojazd
położenie w centrum miasta
bezpieczna szkoła
gwarantujemy miłą i przyjazną atmosferę
stwarzamy dogodne warunki nauki dla osób pracujących
</h3>

<br />
<br />










{% endblock %}