{% extends 'data.html' %}
{% block content %}






<br />
<h3 class="newsh3">

Do szkoły tego typu uczęszczają wszyscy chętni legitymujący się świadectwem ukończenia szkoły gimnazjalnej lub  ośmioletniej szkoły podstawowej oraz osoby, które ukończyły zasadniczą szkołę zawodową. 
<br /><br />
 

Nauka trwa 4 lata (8 semestrów). <br />
Semestr trwa 5 miesięcy. <br /><br />
 

Po ukończeniu szkoły słuchacze mogą przystąpić do egzaminu maturalnego.<br />

Zajęcia odbywają się  w soboty i niedziele od godz. 8:00 do 15:30 (średnio 2 zjazdy w miesiącu).<br /><br />

Słuchacze otrzymują legitymację uczniowskie uprawniające do ustawowych zniżek, wystawiamy również zaświadczenia do ZUS, KRUS i innych instytucji.<br /><br />

Nauka w szkole jest płatna dla pierwszego semestru - 150 zł/miesiąc.<br /><br />

Dla semestrów wyższych nauka jest bezpłatna, gdy frekwencja miesięczna jest wyższa niż 50%.<br /><br />

W przypadku niższej miesięcznej frekwencji opłata wynosi 100 zł.<br />



</h3>
<br /> <br />











{% endblock %}