{% extends 'data.html' %}
{% block content %}


<br />


<h3 class="newsh3">
Zajęcia w szkole odbywają się w systemie stacjonarnym we wszystkie piątki od godz. 16:00 do 19:20

oraz soboty i niedziele w godz. 8:00 do 15:45.<br /><br />


Słuchacze otrzymują legitymację uczniowskie uprawniające do ustawowych zniżek, wystawiamy również zaświadczenia do ZUS, KRUS i innych instytucji.<br /><br />

Wszystkie kierunki w Medycznej Szkole Policealnej są bezpłatne. Semestr trwa 5 miesięcy. 

</h3>
<br /><br />










{% endblock %}