{% extends 'data.html' %}
{% block content %}


<br />
<h3 class="newsh3">
<p class="text-red"  >
Uwaga!!<br />

słuchacze naszych szkół otrzymują<br />

dodatkowo bezpłatne certyfikaty<br />

ukończenia następujących szkoleń:</p><br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
OPIEKUN W DOMU POMOCY SPOŁECZNEJ</p>

- certyfikat ukończenia szkolenia z pierwszej pomocy<br />

- certyfikat ukończenia szkolenia z terapii zajęciowej<br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
TECHNIK BHP</p>

- certyfikat ukończenia szkolenia zakładanie działalności gospodarczej<br />

- certyfikat ukończenia szkolenia obsługi kas fiskalnych<br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
TECHNIK ADMINISTRACJI</p>

- certyfikat ukończenia szkolenia z obsługi kas fiskalnych<br />

- certyfikat ukończenia szkolenia zakładanie działalności gospodarczej<br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
TECHNIK GEODETA</p>

- certyfikat ukończenia szkolenia z obsługi kas fiskalnych<br />

- certyfikat ukończenia szkolenia zakładanie działalności gospodarczej<br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
TECHNIK TURYSTYKI WIEJSKIEJ</p>

- certyfikat ukończenia szkolenia z obsługi kas fiskalnych<br />

- certyfikat ukończenia szkolenia zarządzania jakością żywności HACCP<br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
TECHNIK USŁUG KOSMETYCZNYCH</p>

- certyfikat ukończenia szkolenia asystent lekarza medycyny estetycznej<br />

- certyfikat ukończenia szkolenia wizażu i stylizacji<br /><br />

 
<p class="text-red" style="border-top:1px red solid; padding-top:5%">
TECHNIK INFORMATYK 
</p>

</h3>

<br /><br />







{% endblock %}