{% extends 'data.html' %}
{% block content %}





<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:10px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:10px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>

<div style="position:relative; left:-1% ">

<table class="tg">
  <tr>
    <th class="tg-0pky" colspan="2">Data</th>
    <th class="tg-0pky" colspan="2">Forma Egzaminu</th>
    <th class="tg-0pky" colspan="2">Godzina</th>
    <th class="tg-0pky" colspan="2">Sala</th>
    <th class="tg-0lax" colspan="2">Ilość Osób</th>
    <th class="tg-0pky" colspan="2">Kwalifikacja</th>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2" rowspan="8">10 Stycznia 2020</td>
    <td class="tg-0pky" colspan="2" rowspan="8">Egzamin Pisemny</td>
    <td class="tg-0pky" colspan="2" rowspan="2">10:00</td>
    <td class="tg-0pky" colspan="2" rowspan="2">303</td>
    <td class="tg-0lax">6</td>
    <td class="tg-0lax" rowspan="2">15</td>
    <td class="tg-0pky" colspan="2">A.23 T </td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0pky" colspan="2">TG.08 psz </td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2" rowspan="2">12:00</td>
    <td class="tg-0pky" colspan="2" rowspan="2">303</td>
    <td class="tg-0lax">20</td>
    <td class="tg-0lax" rowspan="2">23</td>
    <td class="tg-0pky" colspan="2">T.15</td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0pky" colspan="2">TG.09 PSZ </td>
  </tr>
  <tr>
    <td class="tg-0pky" colspan="2" rowspan="3">12:00</td>
    <td class="tg-0pky" colspan="2" rowspan="3">303</td>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax" rowspan="3">16</td>
    <td class="tg-0pky" colspan="2">MS.12 psz </td>
  </tr>
  <tr>
    <td class="tg-0lax">2</td>
    <td class="tg-0pky" colspan="2">E.13 T</td>
  </tr>
  <tr>
    <td class="tg-0lax">13</td>
    <td class="tg-0pky" colspan="2">T.12T </td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">14:00</td>
    <td class="tg-0lax" colspan="2">303</td>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax" colspan="2">E.14 T </td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2" rowspan="7">09 stycznia 2020</td>
    <td class="tg-0lax" colspan="2" rowspan="7">egz. praktyczny d </td>
    <td class="tg-0lax" colspan="2" rowspan="2">9:00</td>
    <td class="tg-0lax" colspan="2" rowspan="2">303</td>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax" rowspan="2">18</td>
    <td class="tg-0lax" colspan="2">A.23 T </td>
  </tr>
  <tr>
    <td class="tg-0lax">9</td>
    <td class="tg-0lax" colspan="2">TG.08 PSZ </td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">13:00</td>
    <td class="tg-0lax" colspan="2">303</td>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax" colspan="2">T.15 T </td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2" rowspan="4">13:00</td>
    <td class="tg-0lax" colspan="2" rowspan="4">302</td>
    <td class="tg-0lax">13</td>
    <td class="tg-0lax" rowspan="4">18</td>
    <td class="tg-0lax" colspan="2">T.12 T </td>
  </tr>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax" colspan="2">T.08 PSZ </td>
  </tr>
  <tr>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax" colspan="2">MS.12 PSZ </td>
  </tr>
  <tr>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax" colspan="2">TG.09 PSZ </td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2" rowspan="2">12 stycznia 2020 </td>
    <td class="tg-0lax" colspan="2" rowspan="2">EGZ PR. W</td>
    <td class="tg-0lax" colspan="2">8:00 </td>
    <td class="tg-0lax" colspan="2"></td>
    <td class="tg-0lax" colspan="2">12 </td>
    <td class="tg-0lax" colspan="2">E.14 </td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">12:00 </td>
    <td class="tg-0lax" colspan="2"></td>
    <td class="tg-0lax" colspan="2">12 </td>
    <td class="tg-0lax" colspan="2">#.14</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">12 luty 2020 </td>
    <td class="tg-0lax" colspan="2">EGZ PR. W</td>
    <td class="tg-0lax" colspan="2">16:00</td>
    <td class="tg-0lax" colspan="2"></td>
    <td class="tg-0lax" colspan="2">1</td>
    <td class="tg-0lax" colspan="2">E.12</td>
  </tr>
</table>



</div>
<br />








{% endblock %}