{% extends 'data.html' %}
{% block content %}



<br />

<h3 class="newsh3">
TERMINY ZJAZDÓW SZKOŁY MEDYCZNEJ <br /><br />

Semestr zimowy 2019/2020<br /><br />

 

wrzesień - 6, 7, 8, 12, 13, 14, 15, 19, 20, 21, 22, 26, 27, 28, 29,<br /><br />

październik - 3, 4, 5, 6, 17, 18, 19, 20, 24, 25, 26, 27<br /><br />

listopad - 14, 15, 16, 17, 21, 22, 23, 24, 28, 29, 30<br /><br />

grudzień - 1, 5, 6, 7, 8, 12, 13, 14, 15, <br /><br />

styczeń - 9, 10, 11, 12<br />
</h3>



<br /><br />










{% endblock %}