{% extends 'data.html' %}
{% block content %}



<br />

<h3 class="newsh3">
Uczniowie mogą brać udział w zajęciach dodatkowych:<br />
- koło szkolnej reprezentacji kulinarnej<br />
- szkolne koło gastronomiczne<br />
- kurs obsługi kasy fiskalnej<br />
- koło grafiki komputerowej<br />
- zajęcia z Native Speakerem<br />
- koło muzyczne        <br />                      
- koło fotograficzne<br />
- koło PCK<br />
- koło wolontariatu<br />
- koło kosmetyczne<br />
- koło stylistyczno - artystyczne<br />
- koło dietetyczne<br />
- zajęcia wyrównawcze z matematyki języka polskiego języka obcego na każdym poziomie<br />
- przygotowanie do matury matematyka, język polski, język angielski, język niemiecki , język rosyjski<br />
- przygotowanie do egzaminu zawodowego
</h3>

<br />
<br />














{% endblock %}